<!DOCTYPE html>
<html lang="en">
<head>
<!--  -->
	<title> Company Heading - Tampa, FL </title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Core CSS - Include with every page -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="static/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- SB Admin CSS - Include with every page -->
    <link href="static/css/sb-admin.css" rel="stylesheet">
</head>
<body>
	<div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Company Name</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->

                <li class="dropdown user-dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Welcome: 
                        <i class="glyphicon glyphicon-user"></i> John Smith <i class="glyphicon glyphicon-collapse-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html"><i class="glyphicon glyphicon-tasks"></i> Tasks </a>
                    </li>
                    <li>
                        <a href="dashboard.html"><i class="glyphicon glyphicon-search"></i> Search Customer </a>
                    </li>
                    <!--Modal-1-->
                    <li>
                        <a href="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Add New Customer </a>
                    </li>
                    <!-- <li>
                        <a href="#"><i class="glyphicon glyphicon-plus"></i> Add New Customer </a>
                    </li> -->
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Tasks<!-- Dashboard --></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Context Classes
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="success">
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr class="info">
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                        <tr class="danger">
                                            <td>4</td>
                                            <td>John</td>
                                            <td>Smith</td>
                                            <td>@jsmith</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!--Modal-1-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class = "form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Customer Information: </h4>
                    </div>
                    <div class="modal-body">
                        <div class = "form-group">
                            <!-- <h5 class="contact-title">Customer Name</h5> -->
                            <label for="contact-name" class="col-lg-3">First Name</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="contact-name" placeholder="ex: John">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class = "form-group">
                            <label for="contact-name" class="col-lg-3">Last Name</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="contact-name" placeholder="ex: Smith">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-email" class="col-lg-3">Email</label>
                            <div class="col-lg-6"> 
                                <input type="email" class="form-control" id="contact-email" placeholder="ex: myname@example.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-phone" class="col-lg-3">Phone Number</label>
                            <div class="col-lg-6"> 
                                <input type="phone" class="form-control" id="contact-phone" placeholder="ex: (813)999-9999">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-address" class="col-lg-3">Street Address</label>
                                <div class="col-lg-6">
                                    <input id="address-streee" class="form-control" name="address-street" type="text" placeholder="ex: 4402 Curry Rd.">
                                    <p class="help-block"></p>
                                </div>
                        </div>
                        <!-- address-line2 input-->
                        <!-- <div class="form-group">
                            <label for="contact-address" class="col-lg-3">Street Address 2</label>
                                <div class="col-lg-6">
                                    <input id="address-streee" class="form-control" name="address-street" type="text" placeholder="ex: Street Address Continue Here">
                                    <p class="help-block"></p>
                                </div>
                        </div> -->
                        <!-- city input-->
                        <div class="form-group">
                            <label for="contact-city" class="col-lg-3">City</label>
                            <div class="col-lg-6">
                                <input id="city" name="city" type="text" placeholder="ex: Tampa" class="form-control">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-state" class="col-lg-3">State</label>
                            <div class="col-lg-6">
                                <input id="state" name="state" type="text" placeholder="ex: Florida" class="form-control">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <!-- <div ng-controller="AccordionDemoCtrl">
                            <accordion close-others="oneAtATime">
                                <accordion-group heading="Dynamic Body Content">
                                    <div ng-repeat="item in items"></div>
                                    <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                                </accordion-group>
                            </accordion>
                        </div> -->
                        

                        <div class="accordion" id="accordion2">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><button type="button" class="btn btn-sm btn-success"><!-- <i class="glyphicon glyphicon-plus"></i> -->Add Service</button></a>
                                </div>
                                <br>
                                <div id="collapseOne" class="accordion-body collapse out">
                                    <div class="form-group">
                                        <label for="contact-state" class="col-lg-12">Service Type</label>
                                        <div class="col-lg-4 col-lg-offset-3">
                                            <label>
                                                <input type="checkbox" value="">
                                                Maintenance
                                            </label>
                                        </div>
                                        <div class="col-lg-5">
                                            <label>
                                                <input type="checkbox" value="">
                                                Repair
                                            </label>
                                        </div>
                                        <div class="col-lg-4 col-lg-offset-3">
                                            <label>
                                                <input type="checkbox" value="">
                                                Service Call
                                            </label>
                                        </div>
                                        <div class="col-lg-5">
                                            <label>
                                                <input type="checkbox" value="">
                                                Others
                                            </label>
                                        </div>
                                        <label for="contact-state" class="col-lg-3">If other:</label>
                                        <div class="col-lg-6">
                                            <input id="description" name="description" type="text" placeholder="Description of service" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="contact-state" class="col-lg-3">Description of problem</label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" rows="3" placeholder="Please enter detail decription of problem here..."></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="contact-price" class="col-lg-3">Quote:</label>
                                        <div class="col-lg-6">
                                            <input id="description" name="description" type="text" placeholder="Price in dollar (ex: 100.00)" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="contact-price" class="col-lg-3">Appointment Date:</label>
                                        <div class="col-lg-6">
                                            <input id="description" name="description" type="text" placeholder="Date in (MM/DD/YYYY)" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="contact-price" class="col-lg-3">Appointment Time:</label>
                                        <div class="col-lg-6">
                                            <input id="description" name="description" type="text" placeholder="Time in (HH:MM AM/PM)" class="form-control">
                                        </div>
                                    </div>
                                                                       
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm ng-scope" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i>Save changes</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.metisMenu.js"></script>>
    <!-- SB Admin Scripts - Include with every page -->
    <script src="static/js/sb-admin.js"></script>
    <!--<script src="https://github.com/angular-ui/bootstrap/blob/master/src/accordion/docs/demo.js"></script>-->
</body>

</html>


