{% extends "layout/base.html" %}

{% block title %}
Dashboard
{{ super() }}
{% endblock %}

{% block body %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Tasks<!-- Dashboard --></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Today's Tasks:</h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

			
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Contact Detail</th>
                                            <th>Service Type</th>
                                            <th>Appointment Time</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>

				<!-- danger, warning, info, success -->
				
                                    <tbody>
					{% for row in appt %}
						<tr class="{{ row.className }}">
							<!-- if actual green...if paid==green...if no actual and scheduled < now==red...if scheduled within 2 days==yellow -->

							<td>{{ row.get_service().get_customer()["Name"] }}</td>
							<!-- First entry, or "PHONE" -->
							<td>{{ row.get_service().get_customer().get_primary_contact()["name"] }}: 
							{{ row.get_service().get_customer().get_primary_contact()["data"] }}</td>
							<td>{{ row.get_service()["service_type"] }} </td>
							<td>{{ row["scheduled"] }}</td>
							<td><a href="{{ url_for('customer_edit', id=row.get_service().get_customer()["ID"]) }}">Edit</a></td>
						</tr>
					{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

{% endblock %}

{% block css %}
{{ super() }}
    <link href="static/css/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
{{ super() }}

   <!-- Page-Level Plugin Scripts - Tables -->
    <script src="static/js/jquery.dataTables.js"></script>
    <script src="static/js/dataTables.bootstrap.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="static/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}

