{% extends "layout/base.html" %}

{% block title %}
Dashboard
{{ super() }}
{% endblock %}

{% block body %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Tasks<!-- Dashboard --></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Today's Tasks:</h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Phone Number</th>
                                            <th>Service Type</th>
                                            <th>Appointment Time</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="danger">
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>8139999999</td>
                                            <td>Maintenance</td>
                                            <td>2014-04-23 09:30:00</td>
                                            <td>Mark</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>8139999999</td>
                                            <td>Repair</td>
                                            <td>2014-04-23 11:30:00</td>
                                            <td>Mark</td>
                                        </tr>
                                        <tr class="info">
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>8139999999</td>
                                            <td>Repair</td>
                                            <td>2014-04-23 13:00:00</td>
                                            <td>Mark</td>
                                        </tr>
                                        <tr class="success">
                                            <td>John</td>
                                            <td>Smith</td>
                                            <td>8139999999</td>
                                            <td>Service Call</td>
                                            <td>2014-04-23 15:35:00</td>
                                            <td>Mark</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

{% endblock %}

{% block css %}
{{ super() }}
    <link href="static/css/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
{{ super() }}

   <!-- Page-Level Plugin Scripts - Tables -->
    <script src="static/js/jquery.dataTables.js"></script>
    <script src="static/js/dataTables.bootstrap.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="static/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>
{% endblock %}

