<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>{% block title %}| CRM{% endblock %}</title>

    {% block css %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">

    {% endblock %}

  </head>

  <body>

	<div id="wrapper">

	{% block header %}
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('dashboard') }}">{{ user.Company }}</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->

                <li class="dropdown user-dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Welcome:
                        <i class="glyphicon glyphicon-user"></i> {{ user.Username }} <i class="glyphicon glyphicon-collapse-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
			<!--
                        <li><a href="{{ url_for('user_profile') }}"><i class="glyphicon glyphicon-user"></i> User Profile</a>
                        </li>
                        <li><a href="{{ url_for('user_settings') }}"><i class="glyphicon glyphicon-cog"></i> Settings</a>
                        </li>
                        <li><a href="{{ url_for('help') }}"><i class="glyphicon glyphicon-question-sign"></i> Help </a>
                        </li>
                        <li class="divider"></li>
			-->
                        <li><a href="{{ url_for('logout') }}"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{{ url_for('dashboard') }}"><i class="glyphicon glyphicon-tasks"></i> Dashboard </a>
                    </li>

                    <li>
                        <a href="{{ url_for('customer_index') }}"><i class="glyphicon glyphicon-search"></i> Customers </a>
                    </li>

                    <li>
                        <a href="{{ url_for('user_index') }}"><i class="glyphicon glyphicon-plus"></i> Users </a>
                    </li>

                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
	{% endblock %}

	{% block body %}{% endblock %}

	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    {% block javascript %}
    <!-- Core Scripts - Include with every page -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.metisMenu.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/static/js/sb-admin.js"></script>
    {% endblock %}
 
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
